.container {
  max-width: 1460px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  height: 10vh;
  background-color: black;
}

.logo {
  width: 50px;
  height: 50px;
  /* Add your logo image here */
}

.menu {
  margin-left: auto;
}

.menu a {
  margin-right: 10px;
  text-decoration: none;
  color: white;
}

.hero {
  height: 90vh;
  width: 100%;
  background-color: black;
  color: white;
}

.blog {
  color: #94A3B8;
}

.heroHeading {
  text-align: center;
  padding-top: 4rem;
}

.heroHeading>h1 {
  font-size: 5rem;
  font-weight: 600;
}

.heroHeading>h2 {
  color: #94A3B8;
  font-size: 2rem;
}

.heroHeading>p {
  font-size: 3rem;
  font-weight: 400;
}

.textGradient {

  background: linear-gradient(to right, #adf700 0%, #00d4ff 100%);
  /* Mask the color to the text, and remove the rest  */
  -webkit-background-clip: text;
  /* Make the text fill color value transparent so the masked background color comes through */
  -webkit-text-fill-color: transparent;
}

.textGradientTwo {
  background: linear-gradient(to right, #6300f7 0%, #ff0038 100%);
  /* Mask the color to the text, and remove the rest  */
  -webkit-background-clip: text;
  /* Make the text fill color value transparent so the masked background color comes through */
  -webkit-text-fill-color: transparent;
}

.hero h2 {
  font-size: 72px;
}

/* Media queries for responsive layout */
@media screen and (max-width: 600px) {
  .container {}

  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    margin-left: 0;
    margin-top: 10px;
  }

  .hero {
    padding: 20px;
  }
}